header{
	width:75vw;
	margin: 25px auto;
	background-color: skyblue;
}

main{
	width:75vw;
	margin: 25px auto;
	background-color: floralwhite;
	display: flow-root;
}

.col{
	width: 50%;
	background-color: floralwhite;
	float: left;
}

body{
	background-color:aliceblue;
}

body{
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

a:visited{
	color:maroon;
}

a:hover, a:active {
  color: black;
}

h1 {
  font-style: medium;
  font-weight: 700;
  font-size: 100;

@media screen and (max-width: 895px) {
 	.col {
 		width: 50%;
 		margin-bottom: 50px;
 	}
 }

 @media screen and (max-width: 895px) {
 	body{
 		background-color: purple;
 	}
 }