body{
	margin: 0;
}

.red{
	background-color: tomato;
	width: 100px;
	height: 100px;
}

.black{
	background-color: black;
	width: 100px;
	height: 100px;
}

.red, .black{
	float: left;
}

.board{
	width: 800px;
	margin: auto;
}