body{
	margin: 0;
}

.red{
	background-color: tomato;
	width: 100px;
	height: 100px;
}

.black{
	background-color: black;
	width: 100px;
	height: 100px;
}

.red, .black{
	float: left;
}

.board{
	width: 800px;
	margin: auto;
}

.container{
	width: 950px;
	display: flow-root;
}

.col{
background-color: tomato;
width: 300px;
height: 800px;
float: left;
margin:0;
}

#col{
background-color: tomato;
width: 300px;
height: 800px;
margin: 0 25px 0;
float: left;
}

.nav{
background-color: tomato;
height: 50px;
width: 950px;
margin: 0 0 25px 0;
}
.footer{
background-color: tomato;
height: 150px;
width: 950px;
margin: 25px 0 0 0;
float: left;
}

.header{
background-color: tomato;
height: 150px;
width: 950px;
margin: 0 0 25px 0;
}

.container{
width: 950px;
display: flow-root;
margin: 50px auto;
}

.screen1{
	width: 1100px;
	display: flow-root;
}

.header1{
	background-color: tomato;
	height: 150px;
	width: 80%;
	float: left;
	margin: 10px 50px 90px;
}

.media{
	background-color: tomato;
	height: 500px;
	width: 65%;
	float: left;
	margin: 10px 0 5px 50px;
}

.comment{
	background-color: tomato;
	height: 250px;
	width: 15%;
	float: left;
	margin: 5px;
}

.footer1{
	background-color: tomato;
	height: 50px;
	width: 70%;
	float: left;
	margin: 0 10px 60px 80px;
}

.screen2{
	width: 1100px;
	display: flow-root;
}

.media{
	background-color: tomato;
	height: 500px;
	width: 65%;
	float: left;
	margin: 70px 10px 5px 50px;
}

.comment{
	background-color: tomato;
	height: 250px;
	width: 15%;
	float: left;
	margin: 70px 10px 10px;
}

.footer1{
	background-color: tomato;
	height: 50px;
	width: 65%;
	float: left;
	margin: 10px 10px 80px 50px;
}

.court1{
	width: 600px;
	display: flow-root;
}

.shape1{
	background-color: tomato;
	height: 301px;
	width: 95px;
	float: left;
	margin: 1px;
}

.shape2{
	background-color: tomato;
	height: 100px;
	width: 402px;
	float: left;
	margin: 0 0 1px 1px;
}

.shape3{
	background-color: tomato;
	height: 302px;
	width: 95px;
	float: right;
	margin: 0 3px 0 0;
}

.shape4{
	background-color: tomato;
	height: 200px;
	width: 200px;
	float: left;
	margin: 1px;
}

.shape5{
	background-color: tomato;
	height: 200px;
	width: 200px;
	float: left;
	margin: 1px 0 1px 1px;
}

.court2{
	width: 600px;
	display: flow-root;
}

.shape6{
	background-color: tomato;
	height: 302px;
	width: 95px;
	float: left;
	margin: 1px;
}

.shape7{
	background-color: tomato;
	height: 100px;
	width: 402px;
	float: left;
	margin: 0 0 1px 1px;
}

.shape8{
	background-color: tomato;
	height: 302px;
	width: 95px;
	float: right;
	margin: 1px 3px 0 0;
}

.shape9{
	background-color: tomato;
	height: 200px;
	width: 200px;
	float: left;
	margin: 1px;
}

.shape10{
	background-color: tomato;
	height: 200px;
	width: 200px;
	float: left;
	margin: 1px 0 1px 1px;
}

.court1, .court2{
	margin: auto;
}