
*box {
	box-sizing: border-box;
}

body{
	margin: 0;
}

.p1-1{
	width: 100px;
	height: 100px;
	background-color: rgba( 0, 133, 211, 80);
	float: left;
	opacity: 100;
	margin: 1px;
	border: 5px;
	transform: rotate(60deg);
}

.p1-2{
	width: 100px;
	height: 100px;
	background-color: greenyellow;
	float: left;
	opacity: 100;
	margin: 5px;
	border: 5px;
	position: relative;
	transform: rotate(30deg);
}

.p1-3{
	width:25px;
	height: 25px;
	background-color: palevioletred;
	float: left;
	opacity: 50;
	margin: 10px;
	border: 5px;
	position: relative;
	transform: skew(45deg);
}

.p1-4{
	width:25px;
	height: 25px;
	background-color: purple;
	float: left;
	opacity: 50;
	margin: 10px;
	border: 5px;
	position: relative;
	transform: skew(-45deg);
}

.p2-1{
	width: 10px;
	height: 20px;
	background-color: cornflowerblue;
	float: left;
	opacity: 100;
	margin: 15px;
	border: 15px;
	position: relative;
}

.p2-2{
	width: 20px;
	height: 100px;
	background-color: indianred;
	float: left;
	opacity: 100;
	margin: 10px;
	border: 10px;
	position: relative;
	z-index: 2;
}

.p2-3{
	width: 40px;
	height: 40px;
	background-color: lightgoldenrodyellow;
	float: left;
	opacity: 100;
	margin: 50px;
	border: 10px;
	position: relative;
	clip-path: circle(50% at center);

}

.p2-4{
	width: 20px;
	height: 100px;
	background-color: rebeccapurple;
	float: left;
	opacity: 100;
	margin: 50px;
	border: 10px;
	position: relative;
	z-index: 1;
	clear: right;
}

.p3-1{
	width:100px;
	height:150px;
	background-color: rgb(0, 213, 255, 1.0);
	float: left;
	opacity:1;
	margin: 40px;
	border: 5px;
	position: relative;
	transform: skew(55deg) rotate(45deg);
}

.p3-2{
	width:100px;
	height:150px;
	background-color: rgba(77, 166, 255, 1.0);
	float: left;
	opacity:1;
	margin: 40px;
	border: 5px;
	position: relative;
	transform: skew(55deg) rotate(45deg);
}

.p3-3{
	width:10px;
	height:100px;
	background-color: rgb(196, 97, 255, 1.0);
	float: left;
	opacity:1;
	margin: 30px;
	border: 5px;
	position: relative;
	top: 100px;
	transform: rotate(-45deg) scaleX(60.0);
}

.p3-4{
	width:10px;
	height:10px;
	background-color: rgb(136, 77, 255, 1.0);
	float: left;
	opacity:1;
	margin: 40px;
	border: 5px;
	position: relative;
	top: 100px;
	transform: scaleX(10.0);
}

.p4-1{
	width:25px;
	height:25px;
	background-color: rgb(255,25,25);
	float: left;
	opacity:0.2;
	margin: 10px 80px;
	border: 1px;
	position: relative;
	transform: rotate(15deg);
}

.p4-2{
	width:50px;
	height:50px;
	background-color: rgb(255,140,25);
	float: left;
	opacity:0.4;
	margin: 10px 80px;
	border: 1px dashed white;
	position: relative;
}

.p4-3{
	width:75px;
	height:75px;
	background-color: rgb(255,255,25);
	float: left;
	opacity:0.6;
	margin: 10px 80px;
	border: 1px;
	position: relative;
	transform: rotate(30deg);
}

.p4-4{
	width:100px;
	height:100px;
	background-color: rgb(25,255,64);
	float: left;
	opacity:0.7;
	margin: 10px 90px;
	border: 1px dashed white;
	position: relative;
}

.p4-5{
	width:125px;
	height:125px;
	background-color: rgb(25,102,255);
	float: left;
	opacity:0.8;
	margin: 10px 80px;
	border: 1px;
	position: relative;
	transform: rotate(45deg);
}

.p4-6{
	width:150px;
	height:150px;
	background-color: rgb(140,25,255);
	float: left;
	opacity:1;
	margin: 10px 80px;
	border: 1px dashed white;
	position: relative;
}




.p5-1{
	width: 40px;
	height: 40px;
	background-color: orange;
	float: left;
	opacity: 100;
	margin: 50px;
	border: 10px;
	position: relative;
	clip-path: circle(50% at center);
	transform: skew(10deg);
}

.p5-2{
	width: 40px;
	height: 40px;
	background-color: orangered;
	float: left;
	opacity: 100;
	margin: 50px;
	border: 10px;
	position: relative;
	clip-path: circle(50% at center);
	transform: skew(-10deg);
}

.p5-3{
	width: 40px;
	height: 40px;
	background-color: yellowgreen;
	float: left;
	opacity: 100;
	margin: 50px;
	border: 10px;
	position: relative;
	clip-path: circle(50% at center);
	transform: skew(10deg);
}

.p5-4{
	width: 40px;
	height: 40px;
	background-color: mediumvioletred;
	float: left;
	opacity: 100;
	margin: 50px;
	border: 10px;
	position: relative;
	clip-path: circle(50% at center);
	transform: skew(-10deg);
}

.p5-5{
	width: 20px;
	height: 20px;
	background-color: skyblue;
	float: left;
	opacity: 100;
	margin: 50px;
	border: 10px;
	position: relative;
	clip-path: circle(50% at center);
	transform: scaleY(3.0);	
}