h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
  text-transform: uppercase;
  color:mediumpurple;
  background-color: lightyellow;
}

body {
	font-family: "Montserrat Alternates", sans-serif;
 	font-weight: 500;
 	font-style: normal;
}

h2 {
	color: midnightblue;
	font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: italic;
}

h3{
	color: royalblue;
}

h4{
	color:skyblue;
}

*{
	color: darkblue;
}

ul li {
	color: lightsteelblue;
}

h1, h2, h3, h4 {
	text-align: center;
}


#li1{
	color: darkred;
}
#li2{
	color: orangered;
}
#li3{
	color: greenyellow;
}
#li4{
	color: green;
}
#li5{
	color: darkblue;
}
#li6{
	color: indigo;
}

#li7{
	color: violet;
}

#li8{
	color: hotpink;
}

