body{
	height: 700px;
}

.box{
	width: 113px;
    height: 543px;
    background-color: skyblue;
    position: absolute;
    top: 91px;
    left: 30px;
    border-radius: 20px;
}

.inside{
	width: 300px;
    height: 436px;
    background-color: blueviolet;
    position: absolute;
    top: 94px;
    left: 150px;
    opacity: 50%;
}

.circle{
	width:100px;
	height:100px;
	background-color:royalblue;
	border-radius: 50%;
	position: absolute;
	top: 476px;
	left: 104px;
}

.round{
	width: 196px;
    height: 142px;
    background-color: mediumblue;
    border-radius: 50%;
    position: absolute;
    top: 445px;
    left: 254px;
}

.flat{
	width: 207px;
    height: 142px;
    background-color: greenyellow;
    position: absolute;
    top: 445px;
    left: 150px;
}

.outer{
	width:80px;
	height:80px;
	background-color:aliceblue;
	border-radius: 50%;
	position: absolute;
	top: 485px;
	left: 114px;
}

.cover{
	width: 400px;
    height: 80px;
    background-color: skyblue;
    position: absolute;
    top: 530px;
    left: 50px;
    border-radius: 0;
}

.cover2{
	width: 400px;
    height: 50px;
    background-color: skyblue;
    position: absolute;
    top: 584px;
    left: 50px;
    border-radius: 20px;
}

.top{
	width: 112px;
    height: 25px;
    background-color: palegreen;
    position: absolute;
    top: 60px;
    left: 31px;
    border-radius: 20px;
}

.top2{
	width: 300px;
    height: 25px;
    background-color: sandybrown;
    position: absolute;
    top: 60px;
    left: 150px;
    border-radius: 20px;
}

.dial{
	width: 30px;
    height: 60px;
    background-color: palegoldenrod;
    position: relative;
    border-radius: 50%;
    left: 132px;
    top: 486px;
}

.wire1, .wire2, .wire3{
	width: 21px;
    height: 98px;
    background-color: orangered;
 	border-radius: 99%;
    position: absolute;
}

.wire1{
	left: 423px;
    top: 608px;
    transform: rotateZ(6deg);
}

.wire2{
	left: 414px;
    top: 659px;
    transform: rotateZ(15deg);
}

.platform{
    position: absolute;
    top: 465px;
    left: -48px;
    transform: skew(0deg);
    border-bottom: 246px solid #555;
    border-left: 225px solid transparent;
    border-right: 225px solid transparent;
    height: 0;
    width: 125px;
}

.bottom{
	position: absolute;
    top: 710px;
    left: -48px;
    background-color: grey;
    width: 574px;
    height: 300px;
}