body{
	height: 1011px;
    background-color: aliceblue;
    margin: auto;
}

.drawing{
    height: 1000px;
    width: 1000px;
    margin: auto;
    position: absolute;
}

.box{
	width: 113px;
    height: 537px;
    background-color: floralwhite;
    position: absolute;
    top: 97px;
    left: 30px;
    border-radius: 20px;
    outline-width: 5px;
    outline-color: powderblue;
    outline-style: solid;
}

.inside{
	width: 300px;
    height: 428px;
    background-color: mediumblue;
    position: absolute;
    top: 93px;
    left: 150px;
    opacity: 50%;
    border-radius: 10px;
}

.circle{
	width:100px;
	height:100px;
	background-color:floralwhite;
	border-radius: 50%;
	position: absolute;
	top: 476px;
	left: 104px;
    outline-width: 5px;
    outline-color: powderblue;
    outline-style: solid;
}

.round{
	width: 196px;
    height: 142px;
    background-color: navajowhite;
    border-radius: 50%;
    position: absolute;
    top: 445px;
    left: 252px;
}

.flat{
	width: 207px;
    height: 82px;
    background-color: navajowhite;
    position: absolute;
    top: 445px;
    left: 150px;
}

.outer{
	width:80px;
	height:80px;
	background-color:powderblue;
	border-radius: 50%;
	position: absolute;
	top: 485px;
	left: 114px;
}

.cover{
	width: 414px;
    height: 104px;
    background-color: floralwhite;
    position: absolute;
    top: 530px;
    left: 31px;
    border-radius: 0;
    outline-width: 5px;
    outline-color: powderblue;
    outline-style: solid;
    border-radius: 20px;
}

.top{
	width: 112px;
    height: 25px;
    background-color: floralwhite;
    position: absolute;
    top: 60px;
    left: 31px;
    border-radius: 20px;
    outline-width: 5px;
    outline-color: powderblue;
    outline-style: solid;
}

.top2{
	width: 300px;
    height: 25px;
    background-color: floralwhite;
    position: absolute;
    top: 60px;
    left: 150px;
    border-radius: 20px;
    outline-width: 5px;
    outline-color: powderblue;
    outline-style: solid;
}

.dial{
	width: 30px;
    height: 60px;
    background-color: ghostwhite;
    position: relative;
    border-radius: 50%;
    left: 139px;
    top: 494px;
}

.wire1, .wire2, .wire3{
	width: 21px;
    height: 215px;
    background-color: antiquewhite;
 	border-radius: 99%;
    position: absolute;
}

.wire1{
	left: 419px;
    top: 608px;
    transform: rotateZ(6deg);
}

.wire2{
	left: 382px;
    top: 799px;
    transform: rotateZ(15deg);
}

.platform{
    position: absolute;
    top: 465px;
    left: -48px;
    transform: skew(0deg);
    border-bottom: 246px solid #555;
    border-left: 225px solid transparent;
    border-right: 225px solid transparent;
    height: 0;
    width: 125px;
}

.bottom{
	position: absolute;
    top: 710px;
    left: -48px;
    background-color: grey;
    width: 574px;
    height: 300px;
}

.cover2{
    width: 255px;
    height: 24px;
    background-color: aliceblue;
    position: absolute;
    top: 515px;
    left: 195px;
}

.cover3{
    width: 226px;
    height: 79px;
    background-color: floralwhite;
    position: absolute;
    top: 555px;
    left: 79px;
}

.drawing{
    height: 1011px;
    width: 574px;
    margin: auto;
    position: relative;
}